# Payment and charges: a SQL implementation
In Data/payments.csv we have a stream of payment records
In Data/charges.csv we have a stream of charges records

The payments records, that are identified only by the payments date and don't have any reference to the charge record, must be allocated in the order they arrive to the charge records ordered by their bill dates

This is a sort a porting of the SQL implementation written in SQL implementation for Payments and charges.ipynb in Python using pandas module to trasform the table, to join the table, compute new columns, ... 

Prerequirements:
- Pandas: the overall solution is based on the dataframes
- numpy: not essential, uesed to create and compute new columns starting from the existing ones

In [182]:
import numpy as np
import pandas as pd
payments = pd.read_csv('Data/payments.csv',parse_dates=['payment_date'])
charges = pd.read_csv('Data/charges.csv', parse_dates=['scheduled_payment_date'])

In [183]:
# Payment records adjusted to resemble segment records
# ====================================================
payment_segments = payments.copy()

# Only the columns that are useful to transform payment records into adjacent segments are kept
payment_segments.drop(['payment_status', 'rent_payment', 'utilities_payment', 'late_fee_payment'], axis=1, inplace = True)

# The total payment is the size of segment
payment_segments.rename(columns={'total_payment': 'payment_segment_size'}, inplace=True)

# customer by customer the segments are ordered according their time line (segment size ia added in case 2 records have the same customer and date!) 
payment_segments.sort_values(['customer_id', 'payment_date', 'payment_segment_size'], inplace = True)

# customer by customer the upper bound segment is the cumulative (or rolling) sum over the size of the previous segments 
payment_segments['payment_upper_extreme'] = payment_segments.groupby('customer_id')['payment_segment_size'].cumsum() # rolling sum

# customer by customer the lower bound segment is the ... the upper bound of the previuos segment
payment_segments['payment_lower_extreme'] = payment_segments.groupby('customer_id')['payment_upper_extreme'].shift(1)
payment_segments['payment_lower_extreme'] = payment_segments['payment_lower_extreme'].fillna(0) # managing the first segment

# re-arrange the columns based on their geometric meaning
columns = 'customer_id', 'payment_lower_extreme', 'payment_segment_size', 'payment_upper_extreme', 'payment_date'
payment_segments = payment_segments.reindex(columns = columns)
                             
payment_segments

,customer_id,payment_lower_extreme,payment_segment_size,payment_upper_extreme,payment_date
11,1001,0.0,200,200,2021-03-28
12,1001,200.0,2166,2366,2021-04-03
13,1001,2366.0,200,2566,2021-04-19
14,1001,2566.0,2166,4732,2021-04-23
15,1001,4732.0,2166,6898,2021-05-29
16,1001,6898.0,200,7098,2021-06-17
0,1002,0.0,2083,2083,2020-12-28
1,1002,2083.0,2083,4166,2021-01-13
2,1002,4166.0,2083,6249,2021-01-27
3,1002,6249.0,2083,8332,2021-02-12
4,1002,8332.0,2083,10415,2021-02-27
5,1002,10415.0,2083,12498,2021-03-12
6,1002,12498.0,2083,14581,2021-03-27
7,1002,14581.0,2083,16664,2021-06-02
8,1002,16664.0,2083,18747,2021-06-02
9,1002,18747.0,4167,22914,2021-06-02
10,1002,22914.0,2083,24997,2021-06-14
32,1003,0.0,2012,2012,2021-04-06
33,1003,2012.0,2012,4024,2021-04-16
34,1003,4024.0,2012,6036,2021-05-03
35,1003,6036.0,2012,8048,2021-05-18
36,1003,8048.0,2012,10060,2021-06-01
37,1003,10060.0,2012,12072,2021-06-17
28,1004,0.0,1300,1300,2021-04-06
29,1004,1300.0,200,1500,2021-04-22
30,1004,1500.0,2600,4100,2021-04-27
31,1004,4100.0,1300,5400,2021-06-11
17,1005,0.0,1341,1341,2021-02-10
18,1005,1341.0,1341,2682,2021-02-26
19,1005,2682.0,1341,4023,2021-03-16
20,1005,4023.0,1341,5364,2021-03-25
21,1005,5364.0,1341,6705,2021-04-15
22,1005,6705.0,0,6705,2021-04-27
23,1005,6705.0,1341,8046,2021-04-27
24,1005,8046.0,0,8046,2021-05-12
25,1005,8046.0,1341,9387,2021-05-12
26,1005,9387.0,1341,10728,2021-05-31
27,1005,10728.0,1341,12069,2021-06-16
38,1006,0.0,100,100,2021-05-10
39,1006,100.0,1000,1100,2021-05-11
40,1006,1100.0,1050,2150,2021-05-29
41,1006,2150.0,1500,3650,2021-06-16

In [184]:
# charge records adjusted to resemble segment records
# ====================================================
charge_segments = charges.copy()

# Only the columns that are useful to transform charge records into adjacent segments are kept
charge_segments.drop(['scheduled_rent', 'scheduled_utilities', 'scheduled_late_fee'], axis=1, inplace = True)

# The total payment is the size of segment
charge_segments.rename(columns={'scheduled_total_payment': 'charge_segment_size'}, inplace=True)
charge_segments.rename(columns={'scheduled_payment_date': 'charge_date'}, inplace=True)

# customer by customer the segments are ordered according their time line (segment size ia added in case 2 records have the same customer and date!) 
charge_segments.sort_values(['customer_id', 'charge_date', 'charge_segment_size'], inplace = True)

# customer by customer the upper bound segment is the cumulative (or rolling) sum over the size of the previous segments 
charge_segments['charge_upper_extreme'] = charge_segments.groupby('customer_id')['charge_segment_size'].cumsum() # rolling sum

# customer by customer the lower bound segment is the ... the upper bound of the previuos segment
charge_segments['charge_lower_extreme'] = charge_segments.groupby('customer_id')['charge_upper_extreme'].shift(1)
charge_segments['charge_lower_extreme'] = charge_segments['charge_lower_extreme'].fillna(0) # managing the first segment

# re-arrange the columns based on their geometric meaning
columns = 'customer_id', 'charge_lower_extreme', 'charge_segment_size', 'charge_upper_extreme', 'charge_date'
charge_segments = charge_segments.reindex(columns = columns)
                             
charge_segments

,customer_id,charge_lower_extreme,charge_segment_size,charge_upper_extreme,charge_date
24,1001,0.0,2166,2166,2021-04-03
25,1001,2166.0,2166,4332,2021-04-24
26,1001,4332.0,2166,6498,2021-05-29
27,1001,6498.0,2166,8664,2021-06-29
28,1001,8664.0,2166,10830,2021-07-14
...,...,...,...,...,...
51,1006,3550.0,1050,4600,2021-06-29
52,1006,4600.0,1050,5650,2021-07-14
53,1006,5650.0,1050,6700,2021-07-29
54,1006,6700.0,1050,7750,2021-08-14
55,1006,7750.0,1050,8800,2021-08-29

In [185]:
# <payments segments overlapping charge segments> is equivalent to <How payments map to charges>
# ===============================================================================================
# Cross Join on customer_id
payment_allocation = pd.merge(payment_segments, charge_segments, on='customer_id', how='inner')
# keep only the overlapping segments, so the filtering condition is:
# payment_segments.lower_extreme < charge_segments.upper_extreme AND payment_segments.upper_extreme > charge_segments.lower_extreme 
payment_allocation = payment_allocation[((payment_allocation['payment_lower_extreme'] < payment_allocation['charge_upper_extreme']) & (payment_allocation['payment_upper_extreme'] > payment_allocation['charge_lower_extreme']))]

# Columns describing the <Overlapping segment>: 
#  Lower is the MAX(charge_segments.lower_extreme, payment_segments.lower_extreme)
payment_allocation['overlapping_lower_extreme'] = payment_allocation[['payment_lower_extreme', 'charge_lower_extreme']].max(axis=1)

# Upper is the MIN(charge_segments.upper_extreme, payment_segments.upper_extreme) 
payment_allocation['overlapping_upper_extreme'] = payment_allocation[['payment_upper_extreme', 'charge_upper_extreme']].min(axis=1)

# Overlapping segment size is the upper - lower => It exactly matches the payment allocation ammount to the charge 
payment_allocation['allocation_amount'] = payment_allocation['overlapping_upper_extreme'] - payment_allocation['overlapping_lower_extreme'] 

# The status (PAID / UNPAID) of charge and debt or credidit situation in the context of the current payment row
import numpy as np
payment_allocation['charge_status'] = np.where(payment_allocation['charge_upper_extreme'] > payment_allocation['payment_upper_extreme'],
                                               'UNPAID',
                                                'PAID') 
payment_allocation['current_debt'] = np.where(payment_allocation['charge_upper_extreme'] > payment_allocation['payment_upper_extreme'],
                                              payment_allocation['charge_upper_extreme'] - payment_allocation['payment_upper_extreme'],
                                              np.nan) 
payment_allocation['current_credit'] = np.where(payment_allocation['charge_upper_extreme'] <= payment_allocation['payment_upper_extreme'],
                                                payment_allocation['payment_upper_extreme'] - payment_allocation['charge_upper_extreme']  ,
                                                np.nan) 

payment_allocation

,customer_id,payment_lower_extreme,payment_segment_size,payment_upper_extreme,payment_date,charge_lower_extreme,charge_segment_size,charge_upper_extreme,charge_date,overlapping_lower_extreme,overlapping_upper_extreme,allocation_amount,charge_status,current_debt,current_credit
0,1001,0.0,200,200,2021-03-28,0.0,2166,2166,2021-04-03,0.0,200,200.0,UNPAID,1966.0,NaN
12,1001,200.0,2166,2366,2021-04-03,0.0,2166,2166,2021-04-03,200.0,2166,1966.0,PAID,NaN,200.0
13,1001,200.0,2166,2366,2021-04-03,2166.0,2166,4332,2021-04-24,2166.0,2366,200.0,UNPAID,1966.0,NaN
25,1001,2366.0,200,2566,2021-04-19,2166.0,2166,4332,2021-04-24,2366.0,2566,200.0,UNPAID,1766.0,NaN
37,1001,2566.0,2166,4732,2021-04-23,2166.0,2166,4332,2021-04-24,2566.0,4332,1766.0,PAID,NaN,400.0
38,1001,2566.0,2166,4732,2021-04-23,4332.0,2166,6498,2021-05-29,4332.0,4732,400.0,UNPAID,1766.0,NaN
50,1001,4732.0,2166,6898,2021-05-29,4332.0,2166,6498,2021-05-29,4732.0,6498,1766.0,PAID,NaN,400.0
51,1001,4732.0,2166,6898,2021-05-29,6498.0,2166,8664,2021-06-29,6498.0,6898,400.0,UNPAID,1766.0,NaN
63,1001,6898.0,200,7098,2021-06-17,6498.0,2166,8664,2021-06-29,6898.0,7098,200.0,UNPAID,1566.0,NaN
72,1002,0.0,2083,2083,2020-12-28,0.0,2083,2083,2020-12-27,0.0,2083,2083.0,PAID,NaN,0.0
85,1002,2083.0,2083,4166,2021-01-13,2083.0,2083,4166,2021-01-12,2083.0,4166,2083.0,PAID,NaN,0.0
98,1002,4166.0,2083,6249,2021-01-27,4166.0,2083,6249,2021-01-27,4166.0,6249,2083.0,PAID,NaN,0.0
111,1002,6249.0,2083,8332,2021-02-12,6249.0,2083,8332,2021-02-12,6249.0,8332,2083.0,PAID,NaN,0.0
124,1002,8332.0,2083,10415,2021-02-27,8332.0,2083,10415,2021-02-27,8332.0,10415,2083.0,PAID,NaN,0.0
137,1002,10415.0,2083,12498,2021-03-12,10415.0,2083,12498,2021-03-12,10415.0,12498,2083.0,PAID,NaN,0.0
150,1002,12498.0,2083,14581,2021-03-27,12498.0,2083,14581,2021-03-27,12498.0,14581,2083.0,PAID,NaN,0.0
163,1002,14581.0,2083,16664,2021-06-02,14581.0,2083,16664,2021-04-12,14581.0,16664,2083.0,PAID,NaN,0.0
176,1002,16664.0,2083,18747,2021-06-02,16664.0,2083,18747,2021-04-27,16664.0,18747,2083.0,PAID,NaN,0.0
189,1002,18747.0,4167,22914,2021-06-02,18747.0,2083,20830,2021-05-12,18747.0,20830,2083.0,PAID,NaN,2084.0
190,1002,18747.0,4167,22914,2021-06-02,20830.0,2083,22913,2021-05-27,20830.0,22913,2083.0,PAID,NaN,1.0
191,1002,18747.0,4167,22914,2021-06-02,22913.0,2083,24996,2021-06-12,22913.0,22914,1.0,UNPAID,2082.0,NaN
203,1002,22914.0,2083,24997,2021-06-14,22913.0,2083,24996,2021-06-12,22914.0,24996,2082.0,PAID,NaN,1.0
204,1003,0.0,2012,2012,2021-04-06,0.0,2012,2012,2021-04-05,0.0,2012,2012.0,PAID,NaN,0.0
217,1003,2012.0,2012,4024,2021-04-16,2012.0,2012,4024,2021-04-21,2012.0,4024,2012.0,PAID,NaN,0.0
230,1003,4024.0,2012,6036,2021-05-03,4024.0,2012,6036,2021-05-05,4024.0,6036,2012.0,PAID,NaN,0.0
243,1003,6036.0,2012,8048,2021-05-18,6036.0,2012,8048,2021-05-17,6036.0,8048,2012.0,PAID,NaN,0.0
256,1003,8048.0,2012,10060,2021-06-01,8048.0,2012,10060,2021-06-02,8048.0,10060,2012.0,PAID,NaN,0.0
269,1003,10060.0,2012,12072,2021-06-17,10060.0,2012,12072,2021-06-17,10060.0,12072,2012.0,PAID,NaN,0.0
276,1004,0.0,1300,1300,2021-04-06,0.0,1300,1300,2021-04-08,0.0,1300,1300.0,PAID,NaN,0.0
289,1004,1300.0,200,1500,2021-04-22,1300.0,1300,2600,2021-04-29,1300.0,1500,200.0,UNPAID,1100.0,NaN
301,1004,1500.0,2600,4100,2021-04-27,1300.0,1300,2600,2021-04-29,1500.0,2600,1100.0,PAID,NaN,1500.0
302,1004,1500.0,2600,4100,2021-04-27,2600.0,1300,3900,2021-05-13,2600.0,3900,1300.0,PAID,NaN,200.0
303,1004,1500.0,2600,4100,2021-04-27,3900.0,1300,5200,2021-06-11,3900.0,4100,200.0,UNPAID,1100.0,NaN
315,1004,4100.0,1300,5400,2021-06-11,3900.0,1300,5200,2021-06-11,4100.0,5200,1100.0,PAID,NaN,200.0
316,1004,4100.0,1300,5400,2021-06-11,5200.0,1300,6500,2021-06-26,5200.0,5400,200.0,UNPAID,1100.0,NaN
324,1005,0.0,1341,1341,2021-02-10,0.0,1341,1341,2021-02-10,0.0,1341,1341.0,PAID,NaN,0.0
337,1005,1341.0,1341,2682,2021-02-26,1341.0,1341,2682,2021-02-26,1341.0,2682,1341.0,PAID,NaN,0.0
350,1005,2682.0,1341,4023,2021-03-16,2682.0,1341,4023,2021-03-10,2682.0,4023,1341.0,PAID,NaN,0.0
363,1005,4023.0,1341,5364,2021-03-25,4023.0,1341,5364,2021-03-26,4023.0,5364,1341.0,PAID,NaN,0.0
376,1005,5364.0,1341,6705,2021-04-15,5364.0,1341,6705,2021-04-10,5364.0,6705,1341.0,PAID,NaN,0.0
401,1005,6705.0,1341,8046,2021-04-27,6705.0,1343,8048,2021-04-26,6705.0,8046,1341.0,UNPAID,2.0,NaN
413,1005,8046.0,0,8046,2021-05-12,6705.0,1343,8048,2021-04-26,8046.0,8046,0.0,UNPAID,2.0,NaN
425,1005,8046.0,1341,9387,2021-05-12,6705.0,1343,8048,2021-04-26,8046.0,8048,2.0,PAID,NaN,1339.0
426,1005,8046.0,1341,9387,2021-05-12,8048.0,1345,9393,2021-05-10,8048.0,9387,1339.0,UNPAID,6.0,NaN
438,1005,9387.0,1341,10728,2021-05-31,8048.0,1345,9393,2021-05-10,9387.0,9393,6.0,PAID,NaN,1335.0
439,1005,9387.0,1341,10728,2021-05-31,9393.0,1341,10734,2021-05-26,9393.0,10728,1335.0,UNPAID,6.0,NaN
451,1005,10728.0,1341,12069,2021-06-16,9393.0,1341,10734,2021-05-26,10728.0,10734,6.0,PAID,NaN,1335.0
452,1005,10728.0,1341,12069,2021-06-16,10734.0,1341,12075,2021-06-10,10734.0,12069,1335.0,UNPAID,6.0,NaN
456,1006,0.0,100,100,2021-05-10,0.0,1050,1050,2021-05-14,0.0,100,100.0,UNPAID,950.0,NaN
464,1006,100.0,1000,1100,2021-05-11,0.0,1050,1050,2021-05-14,100.0,1050,950.0,PAID,NaN,50.0
465,1006,100.0,1000,1100,2021-05-11,1050.0,1050,2100,2021-05-29,1050.0,1100,50.0,UNPAID,1000.0,NaN
473,1006,1100.0,1050,2150,2021-05-29,1050.0,1050,2100,2021-05-29,1100.0,2100,1000.0,PAID,NaN,50.0
474,1006,1100.0,1050,2150,2021-05-29,2100.0,1450,3550,2021-06-14,2100.0,2150,50.0,UNPAID,1400.0,NaN
482,1006,2150.0,1500,3650,2021-06-16,2100.0,1450,3550,2021-06-14,2150.0,3550,1400.0,PAID,NaN,100.0
483,1006,2150.0,1500,3650,2021-06-16,3550.0,1050,4600,2021-06-29,3550.0,3650,100.0,UNPAID,950.0,NaN

In [193]:
# We extract only the columns from the DataFrame to have a result set that matches the SQL implementation  
payment_allocation.rename(columns={'payment_segment_size': 'payment_amount'}, inplace=True)
payment_allocation.rename(columns={'charge_segment_size': 'charge_amount'}, inplace=True)

payment_allocation.filter([
    'customer_id',
    'payment_date',
    'payment_amount',
    'allocation_amount',
    'charge_date',
    'charge_amount',
    'charge_status',
    'current_debt',
    'current_credit'
])

,customer_id,payment_date,payment_amount,allocation_amount,charge_date,charge_amount,charge_status,current_debt,current_credit
0,1001,2021-03-28,200,200.0,2021-04-03,2166,UNPAID,1966.0,NaN
12,1001,2021-04-03,2166,1966.0,2021-04-03,2166,PAID,NaN,200.0
13,1001,2021-04-03,2166,200.0,2021-04-24,2166,UNPAID,1966.0,NaN
25,1001,2021-04-19,200,200.0,2021-04-24,2166,UNPAID,1766.0,NaN
37,1001,2021-04-23,2166,1766.0,2021-04-24,2166,PAID,NaN,400.0
38,1001,2021-04-23,2166,400.0,2021-05-29,2166,UNPAID,1766.0,NaN
50,1001,2021-05-29,2166,1766.0,2021-05-29,2166,PAID,NaN,400.0
51,1001,2021-05-29,2166,400.0,2021-06-29,2166,UNPAID,1766.0,NaN
63,1001,2021-06-17,200,200.0,2021-06-29,2166,UNPAID,1566.0,NaN
72,1002,2020-12-28,2083,2083.0,2020-12-27,2083,PAID,NaN,0.0
85,1002,2021-01-13,2083,2083.0,2021-01-12,2083,PAID,NaN,0.0
98,1002,2021-01-27,2083,2083.0,2021-01-27,2083,PAID,NaN,0.0
111,1002,2021-02-12,2083,2083.0,2021-02-12,2083,PAID,NaN,0.0
124,1002,2021-02-27,2083,2083.0,2021-02-27,2083,PAID,NaN,0.0
137,1002,2021-03-12,2083,2083.0,2021-03-12,2083,PAID,NaN,0.0
150,1002,2021-03-27,2083,2083.0,2021-03-27,2083,PAID,NaN,0.0
163,1002,2021-06-02,2083,2083.0,2021-04-12,2083,PAID,NaN,0.0
176,1002,2021-06-02,2083,2083.0,2021-04-27,2083,PAID,NaN,0.0
189,1002,2021-06-02,4167,2083.0,2021-05-12,2083,PAID,NaN,2084.0
190,1002,2021-06-02,4167,2083.0,2021-05-27,2083,PAID,NaN,1.0
191,1002,2021-06-02,4167,1.0,2021-06-12,2083,UNPAID,2082.0,NaN
203,1002,2021-06-14,2083,2082.0,2021-06-12,2083,PAID,NaN,1.0
204,1003,2021-04-06,2012,2012.0,2021-04-05,2012,PAID,NaN,0.0
217,1003,2021-04-16,2012,2012.0,2021-04-21,2012,PAID,NaN,0.0
230,1003,2021-05-03,2012,2012.0,2021-05-05,2012,PAID,NaN,0.0
243,1003,2021-05-18,2012,2012.0,2021-05-17,2012,PAID,NaN,0.0
256,1003,2021-06-01,2012,2012.0,2021-06-02,2012,PAID,NaN,0.0
269,1003,2021-06-17,2012,2012.0,2021-06-17,2012,PAID,NaN,0.0
276,1004,2021-04-06,1300,1300.0,2021-04-08,1300,PAID,NaN,0.0
289,1004,2021-04-22,200,200.0,2021-04-29,1300,UNPAID,1100.0,NaN
301,1004,2021-04-27,2600,1100.0,2021-04-29,1300,PAID,NaN,1500.0
302,1004,2021-04-27,2600,1300.0,2021-05-13,1300,PAID,NaN,200.0
303,1004,2021-04-27,2600,200.0,2021-06-11,1300,UNPAID,1100.0,NaN
315,1004,2021-06-11,1300,1100.0,2021-06-11,1300,PAID,NaN,200.0
316,1004,2021-06-11,1300,200.0,2021-06-26,1300,UNPAID,1100.0,NaN
324,1005,2021-02-10,1341,1341.0,2021-02-10,1341,PAID,NaN,0.0
337,1005,2021-02-26,1341,1341.0,2021-02-26,1341,PAID,NaN,0.0
350,1005,2021-03-16,1341,1341.0,2021-03-10,1341,PAID,NaN,0.0
363,1005,2021-03-25,1341,1341.0,2021-03-26,1341,PAID,NaN,0.0
376,1005,2021-04-15,1341,1341.0,2021-04-10,1341,PAID,NaN,0.0
401,1005,2021-04-27,1341,1341.0,2021-04-26,1343,UNPAID,2.0,NaN
413,1005,2021-05-12,0,0.0,2021-04-26,1343,UNPAID,2.0,NaN
425,1005,2021-05-12,1341,2.0,2021-04-26,1343,PAID,NaN,1339.0
426,1005,2021-05-12,1341,1339.0,2021-05-10,1345,UNPAID,6.0,NaN
438,1005,2021-05-31,1341,6.0,2021-05-10,1345,PAID,NaN,1335.0
439,1005,2021-05-31,1341,1335.0,2021-05-26,1341,UNPAID,6.0,NaN
451,1005,2021-06-16,1341,6.0,2021-05-26,1341,PAID,NaN,1335.0
452,1005,2021-06-16,1341,1335.0,2021-06-10,1341,UNPAID,6.0,NaN
456,1006,2021-05-10,100,100.0,2021-05-14,1050,UNPAID,950.0,NaN
464,1006,2021-05-11,1000,950.0,2021-05-14,1050,PAID,NaN,50.0
465,1006,2021-05-11,1000,50.0,2021-05-29,1050,UNPAID,1000.0,NaN
473,1006,2021-05-29,1050,1000.0,2021-05-29,1050,PAID,NaN,50.0
474,1006,2021-05-29,1050,50.0,2021-06-14,1450,UNPAID,1400.0,NaN
482,1006,2021-06-16,1500,1400.0,2021-06-14,1450,PAID,NaN,100.0
483,1006,2021-06-16,1500,100.0,2021-06-29,1050,UNPAID,950.0,NaN